@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko&display=swap'); 
 
* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Bebas Neue', Teko, sans-serif;
    font-weight: 600;
    color: ivory;
    background-color: #3c3c3c;
}